<li id="comment-<%= comment._id %>">
    <p>
      <% if(locals.user && locals.user.id == comment.user.id ){ %>
      <small>
        <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
      </small>
      <% } %> <%= comment.content %>  <br />
      <cite> <%= comment.user.name %> </cite>
    </p>
  </li>